<ul>
    <a href="/swimmingfailure/music"><li>MUSIC</li></a>
    <a href="/swimmingfailure/art"><li>ART</li></a>
    <a href="/swimmingfailure/photos"><li>PHOTOS</li></a>
    <a href="/swimmingfailure/tech"><li>TECH</li></a>
    <a href="/swimmingfailure/writing"><li>WRITING</li></a>
</ul>