<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>RDCFLRA</title>
        <meta name="description" content="Swimming Failure">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/rdcflra/img/favicon.ico">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="/rdcflra/css/global.css">
    </head>
    <body>
        <div class="splash">
            <h1>RDCFLRA</h1>
            <img class="logo" src="/rdcflra/img/logo.gif">
        </div>

        <div><%- include('../../back.ejs') %></div>       
    </body>
</html>
