<ul>
    <a href="/s4lt/music"><li <%if(active=="Music"){%>class="active"<%}%>>MUSIC</li></a>
    <a href="/s4lt/art"><li <%if(active=="Art"){%>class="active"<%}%>>ART</li></a>
    <a href="/s4lt/writing"><li <%if(active=="Writing"){%>class="active"<%}%>>WRITING</li></a>
</ul>