<a href="/">
    <div class="back">
        <p>Back to the Collective</p>
    </div>
</a>
<style>
    .back {
        background-color: rgba(255,255,255,0.3);
        color: black;
        position: fixed;
        z-index: 3000;
        right: 0px;
        bottom: 0px;
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 25px 0px black;
        cursor: pointer;
        width: 100px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        font-family: sans-serif;
    }
</style>