<a href="/">
    <div class="back">
        <img src="/_img/logo.png">
    </div>
</a>
<style>
    .back {
        background-color: rgba(0,0,0,0.5);
        position: fixed;
        z-index: 3000;
        right: 0px;
        bottom: 0px;
        margin: 20px;
        padding: 0px;
        border-radius: 100%;
        box-shadow: 0px 0px 5px 0px black;
        cursor: pointer;
        width: 25px;
        height: 25px;
        text-align: center;
    }

    .back>img {
        width: 100%;
    }
</style>