<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Collective</title>
        <meta name="description" content="Artist Collective">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://artist-collective.herokuapp.com/">
        <meta property="og:title" content="Artist Collective">
        <meta property="og:description" content="Two heads are better than one.">
        <meta property="og:image" content="/_img/logo.png">
        <link rel="shortcut icon" type="image/x-icon" href="/_img/favicon.ico">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="/homepage.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>COLLECTIVE</h1>
        <img src="/_img/logo.png">
        <div id="projects">
            <div class="project">
                <div class="iwrap">
                    <iframe id="swimmingfailure" src="/swimmingfailure"></iframe>
                </div>
                <a href="/swimmingfailure"><div class="icover"></div></a>
            </div>
            <div class="project">
                <div class="iwrap">
                    <iframe id="nick" src="/nick"></iframe>
                </div>
                <a href="/nick"><div class="icover"></div></a>
            </div>
            <div class="project">
                <div class="iwrap">
                    <iframe id="darkmolin" src="/darkmolin"></iframe>
                </div>
                <a href="/darkmolin"><div class="icover"></div></a>
            </div>
            <div class="project">
                <div class="iwrap">
                    <iframe id="s4lt" src="/s4lt"></iframe>
                </div>
                <a href="/s4lt"><div class="icover"></div></a>
            </div>
            <div class="project">
                <div class="iwrap">
                    <iframe id="rdcflra" src="/rdcflra"></iframe>
                </div>
                <a href="/rdcflra"><div class="icover"></div></a>
            </div>
            <div class="project">
                <div class="iwrap">
                    <iframe id="cannery" src="/cannery"></iframe>
                </div>
                <a href="/cannery"><div class="icover"></div></a>
            </div>
            <div class="project">
                <div class="iwrap">
                    <iframe id="gr8pink" src="/gr8pink"></iframe>
                </div>
                <a href="/gr8pink"><div class="icover"></div></a>
            </div>
        </div>
    </body>
</html>
