<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GR8 PINK</title>
        <meta name="description" content="GR8 PINK">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/gr8pink/img/favicon.ico">
        <link rel="stylesheet" href="/gr8pink/css/global.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="splash">
            <img class="logo" src="/gr8pink/img/logo.png">
            <h1>GR8 PINK</h1>
        </div>

        <div><%- include('../../back.ejs') %></div>       
    </body>
</html>
