.project {
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
    position: relative;
}

.project h4 {
    float: right;
    margin: 0px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background: black;
    padding: 5px;
    width: -moz-fit-content;
    width: fit-content;
}

.iwrap {
    width: clamp(100px, 70vw, 800px);
    height: clamp(100px, 60vw, 600px);
    padding: 0;
    overflow: hidden;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px black;
    margin-bottom: 15px;
}

iframe {
    width: 200%;
    height: 200%;
}

iframe {
    transform-origin: 0 0;
    transform: scale(0.50);
    -moz-transform: scale(0.50);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.50);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.50);
    -webkit-transform-origin: 0 0;
}


