<ul>
    <a href="/music"><li>MUSIC</li></a>
    <a href="/art"><li>ART</li></a>
    <a href="/photos"><li>PHOTOS</li></a>
    <a href="/tech"><li>TECH</li></a>
    <a href="/writing"><li>WRITING</li></a>
</ul>