<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>The Cannery</title>
        <meta name="description" content="The Cannery">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/cannery/img/favicon.ico">
        <link rel="stylesheet" href="/cannery/css/global.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="splash">
            <img class="logo" src="/cannery/img/logo.png">
            <h1>THE CANNERY</h1>
        </div>

        <div><%- include('../../back.ejs') %></div>       
    </body>
</html>
